.itemsText {
    text-align: justify;
    background: #d1d1d1;
}

.itemsText p{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    height: 100px;
}

.root span{
    text-align: left;
}

.root {
    width: 400px;
    height: 100%;
    margin: 10px;
    background: #aaa !important;
}

.root .cardHeader{
    padding: 10px;
}


.button {
    justify-content: center;
}

.media {
    min-height: 240px;
}